body,
h1,
h2,
h3,
button {
  all: unset;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  background-color: #ffa7ca;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes glow {
  0% {
    text-shadow: -4px -4px #f775a8;
  }
  25% {
    text-shadow: -4px 4px #f775a8;
  }
  50% {
    text-shadow: 4px 4px #f775a8;
  }
  75% {
    text-shadow: 4px -4px #f775a8;
  }
  100% {
    text-shadow: -4px -4px #f775a8;
  }
}
